.main_page__button {
  width: 300px;
  height: 70px;
  background-color: #65b1dc;
  border-radius: 12px;
  border-color: transparent;
  box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.25);
  font-size: 37px;
  color: #ffffff;
}

.trips_list__details_button {
  width: 140px;
  height: 25px;
  background-color: #65b1dc;
  border-radius: 12px;
  border-color: transparent;
  box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  color: #ffffff;
}

.trips_list__element {
  margin-bottom: 4vh;
  padding: 10px 0px 10px 0px;
  font-size: 20px;
  background-color: #fff;
  border: 3px solid #65b1dc;
  border-radius: 14px;
}

.auth_button {
  width: 200px;
  height: 40px;
  font-size: 22px;
  background-color: #65b1dc;
  border-radius: 12px;
  border-color: transparent;
  box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
